<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSourceCredentials />
  <packageSources>
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
  </packageSources>
   <activePackageSource>
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
  </activePackageSource>
</configuration>
